In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf

from keras.models import Sequential
from keras.layers import Flatten
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
data = pd.read_csv( 'C:\\Users\\Administrator\\Desktop\\Python\\AI\\Day 3\\sonar.csv' )

In [3]:
data.shape

(208, 61)

In [4]:
data.head()

,attribute_1,attribute_2,attribute_3,attribute_4,attribute_5,attribute_6,attribute_7,attribute_8,attribute_9,attribute_10,...,attribute_52,attribute_53,attribute_54,attribute_55,attribute_56,attribute_57,attribute_58,attribute_59,attribute_60,Class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,Rock
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,Rock
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,Rock
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,Rock
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,Rock

In [16]:
print(  max( data.T.describe().loc[ 'min' , : ] ) )
print(  max( data.T.describe().loc[ 'max' , : ] ) )

0.0127
1.0

In [6]:
data['Class'].unique()

array(['Rock', 'Mine'], dtype=object)

In [7]:
map_dict = { 'Rock' : 0 , 'Mine' : 1 }

data['Class'] = data['Class'].map( map_dict )

In [8]:
data['Class'].value_counts()

1    111
0     97
Name: Class, dtype: int64

In [55]:
train = data.drop('Class' , 1 )
test = data['Class']

from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split( train , test , test_size = 0.2 )


print(  y_train.value_counts()  )
print(  y_test.value_counts()  )

1    84
0    82
Name: Class, dtype: int64
1    27
0    15
Name: Class, dtype: int64

In [49]:
x_train.shape

(166, 60)

# Keras

In [10]:
# Initializing 
mymodel = Sequential()

# adding neurons 

mymodel.add( Dense( units = 200 , input_dim = 60 , activation = 'relu' ) )
mymodel.add( Dense( units = 100 , activation = 'relu' ) )
mymodel.add( Dense( units = 50 , activation = 'relu' ) )
mymodel.add( Dense( units = 20 , activation = 'relu' ) )

mymodel.add( Dense( units = 1 , activation = 'sigmoid' ) )

WARNING:tensorflow:From C:\Users\Administrator\Anaconda3\envs\tf1\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [11]:
# compiling data 

mymodel.compile( optimizer = 'adam' , loss = 'binary_crossentropy' , metrics = ['accuracy'] )

WARNING:tensorflow:From C:\Users\Administrator\Anaconda3\envs\tf1\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [12]:
mymodel.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 200)               12200
_________________________________________________________________
dense_2 (Dense)              (None, 100)               20100
_________________________________________________________________
dense_3 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_4 (Dense)              (None, 20)                1020
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 21
=================================================================
Total params: 38,391
Trainable params: 38,391
Non-trainable params: 0
_________________________________________________________________

In [13]:
mymodel.fit( x_train , y_train , epochs = 100 )

WARNING:tensorflow:From C:\Users\Administrator\Anaconda3\envs\tf1\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
166/166 [==============================] - 1s 4ms/step - loss: 0.6947 - accuracy: 0.5241
Epoch 2/100
166/166 [==============================] - 0s 229us/step - loss: 0.6711 - accuracy: 0.5361
Epoch 3/100
166/166 [==============================] - 0s 223us/step - loss: 0.6514 - accuracy: 0.5843
Epoch 4/100
166/166 [==============================] - 0s 223us/step - loss: 0.6255 - accuracy: 0.6747
Epoch 5/100
166/166 [==============================] - 0s 217us/step - loss: 0.6006 - accuracy: 0.6867
Epoch 6/100
166/166 [==============================] - 0s 319us/step - loss: 0.5615 - accuracy: 0.7470
Epoch 7/100
166/166 [==============================] - 0s 205us/step - loss: 0.5256 - accuracy: 0.7771
Epoch 8/100
166/166 [==============================] - 0s 271us/step - loss: 0.4909 - accuracy: 0.7530
Epoch 9/100
166/166 [==============================] - 0s 229us/step - loss: 0.4587 - accuracy: 0.8193
Epoch 10/100
166/166 [==============================] - 0s 229us/step - loss: 0.4213 - accuracy: 0.8072
Epoch 11/100
166/166 [==============================] - 0s 217us/step - loss: 0.3894 - accuracy: 0.8434
Epoch 12/100
166/166 [==============================] - 0s 253us/step - loss: 0.3679 - accuracy: 0.8072
Epoch 13/100
166/166 [==============================] - ETA: 0s - loss: 0.3490 - accuracy: 0.87 - 0s 223us/step - loss: 0.3349 - accuracy: 0.8494
Epoch 14/100
166/166 [==============================] - 0s 259us/step - loss: 0.3201 - accuracy: 0.8795
Epoch 15/100
166/166 [==============================] - 0s 295us/step - loss: 0.2964 - accuracy: 0.8855
Epoch 16/100
166/166 [==============================] - 0s 205us/step - loss: 0.3037 - accuracy: 0.8675
Epoch 17/100
166/166 [==============================] - 0s 235us/step - loss: 0.2585 - accuracy: 0.9096
Epoch 18/100
166/166 [==============================] - 0s 235us/step - loss: 0.2662 - accuracy: 0.8976
Epoch 19/100
166/166 [==============================] - 0s 271us/step - loss: 0.2428 - accuracy: 0.9036
Epoch 20/100
166/166 [==============================] - 0s 367us/step - loss: 0.3294 - accuracy: 0.8373
Epoch 21/100
166/166 [==============================] - 0s 211us/step - loss: 0.2720 - accuracy: 0.8795
Epoch 22/100
166/166 [==============================] - 0s 265us/step - loss: 0.2812 - accuracy: 0.8735
Epoch 23/100
166/166 [==============================] - 0s 241us/step - loss: 0.1915 - accuracy: 0.9337
Epoch 24/100
166/166 [==============================] - 0s 325us/step - loss: 0.2207 - accuracy: 0.9157
Epoch 25/100
166/166 [==============================] - 0s 247us/step - loss: 0.1822 - accuracy: 0.9277
Epoch 26/100
166/166 [==============================] - 0s 289us/step - loss: 0.1666 - accuracy: 0.9337
Epoch 27/100
166/166 [==============================] - 0s 476us/step - loss: 0.1382 - accuracy: 0.9759
Epoch 28/100
166/166 [==============================] - 0s 307us/step - loss: 0.1349 - accuracy: 0.9578
Epoch 29/100
166/166 [==============================] - 0s 247us/step - loss: 0.1274 - accuracy: 0.9639
Epoch 30/100
166/166 [==============================] - 0s 307us/step - loss: 0.1105 - accuracy: 0.9759
Epoch 31/100
166/166 [==============================] - 0s 301us/step - loss: 0.1090 - accuracy: 0.9880
Epoch 32/100
166/166 [==============================] - 0s 397us/step - loss: 0.0918 - accuracy: 0.9880
Epoch 33/100
166/166 [==============================] - 0s 289us/step - loss: 0.0773 - accuracy: 0.9940
Epoch 34/100
166/166 [==============================] - 0s 253us/step - loss: 0.0686 - accuracy: 1.0000
Epoch 35/100
166/166 [==============================] - 0s 247us/step - loss: 0.0601 - accuracy: 1.0000
Epoch 36/100
166/166 [==============================] - 0s 229us/step - loss: 0.0636 - accuracy: 0.9940
Epoch 37/100
166/166 [==============================] - 0s 247us/step - loss: 0.0551 - accuracy: 1.0000
Epoch 38/100
166/166 [==============================] - 0s 235us/step - loss: 0.0422 - accuracy: 1.0000
Epoch 39/100
166/166 [==============================] - 0s 295us/step - loss: 0.0366 - accuracy: 1.0000
Epoch 40/100
166/166 [==============================] - 0s 187us/step - loss: 0.0330 - accuracy: 1.0000
Epoch 41/100
166/166 [==============================] - 0s 241us/step - loss: 0.0304 - accuracy: 1.0000
Epoch 42/100
166/166 [==============================] - 0s 223us/step - loss: 0.0414 - accuracy: 1.0000
Epoch 43/100
166/166 [==============================] - 0s 235us/step - loss: 0.0505 - accuracy: 0.9819
Epoch 44/100
166/166 [==============================] - 0s 313us/step - loss: 0.0481 - accuracy: 0.9940
Epoch 45/100
166/166 [==============================] - 0s 235us/step - loss: 0.0456 - accuracy: 0.9880
Epoch 46/100
166/166 [==============================] - ETA: 0s - loss: 0.0331 - accuracy: 0.99 - 0s 476us/step - loss: 0.0328 - accuracy: 0.9940
Epoch 47/100
166/166 [==============================] - 0s 259us/step - loss: 0.0283 - accuracy: 1.0000
Epoch 48/100
166/166 [==============================] - 0s 307us/step - loss: 0.0285 - accuracy: 1.0000
Epoch 49/100
166/166 [==============================] - 0s 229us/step - loss: 0.0195 - accuracy: 1.0000
Epoch 50/100
166/166 [==============================] - 0s 217us/step - loss: 0.0205 - accuracy: 1.0000
Epoch 51/100
166/166 [==============================] - 0s 235us/step - loss: 0.0142 - accuracy: 1.0000
Epoch 52/100
166/166 [==============================] - 0s 301us/step - loss: 0.0144 - accuracy: 1.0000
Epoch 53/100
166/166 [==============================] - 0s 307us/step - loss: 0.0082 - accuracy: 1.0000
Epoch 54/100
166/166 [==============================] - 0s 253us/step - loss: 0.0068 - accuracy: 1.0000
Epoch 55/100
166/166 [==============================] - 0s 223us/step - loss: 0.0065 - accuracy: 1.0000
Epoch 56/100
166/166 [==============================] - 0s 235us/step - loss: 0.0056 - accuracy: 1.0000
Epoch 57/100
166/166 [==============================] - 0s 247us/step - loss: 0.0052 - accuracy: 1.0000
Epoch 58/100
166/166 [==============================] - 0s 259us/step - loss: 0.0047 - accuracy: 1.0000
Epoch 59/100
166/166 [==============================] - 0s 283us/step - loss: 0.0046 - accuracy: 1.0000
Epoch 60/100
166/166 [==============================] - 0s 277us/step - loss: 0.0043 - accuracy: 1.0000
Epoch 61/100
166/166 [==============================] - 0s 289us/step - loss: 0.0039 - accuracy: 1.0000
Epoch 62/100
166/166 [==============================] - 0s 241us/step - loss: 0.0041 - accuracy: 1.0000
Epoch 63/100
166/166 [==============================] - 0s 367us/step - loss: 0.0036 - accuracy: 1.0000
Epoch 64/100
166/166 [==============================] - 0s 265us/step - loss: 0.0033 - accuracy: 1.0000
Epoch 65/100
166/166 [==============================] - 0s 253us/step - loss: 0.0031 - accuracy: 1.0000
Epoch 66/100
166/166 [==============================] - 0s 199us/step - loss: 0.0031 - accuracy: 1.0000
Epoch 67/100
166/166 [==============================] - 0s 349us/step - loss: 0.0028 - accuracy: 1.0000
Epoch 68/100
166/166 [==============================] - 0s 277us/step - loss: 0.0029 - accuracy: 1.0000
Epoch 69/100
166/166 [==============================] - 0s 217us/step - loss: 0.0029 - accuracy: 1.0000
Epoch 70/100
166/166 [==============================] - 0s 229us/step - loss: 0.0027 - accuracy: 1.0000
Epoch 71/100
166/166 [==============================] - 0s 235us/step - loss: 0.0023 - accuracy: 1.0000
Epoch 72/100
166/166 [==============================] - 0s 295us/step - loss: 0.0023 - accuracy: 1.0000
Epoch 73/100
166/166 [==============================] - 0s 235us/step - loss: 0.0021 - accuracy: 1.0000
Epoch 74/100
166/166 [==============================] - 0s 319us/step - loss: 0.0022 - accuracy: 1.0000
Epoch 75/100
166/166 [==============================] - 0s 247us/step - loss: 0.0022 - accuracy: 1.0000
Epoch 76/100
166/166 [==============================] - 0s 337us/step - loss: 0.0020 - accuracy: 1.0000

Epoch 77/100
166/166 [==============================] - 0s 199us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 78/100
166/166 [==============================] - 0s 163us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 79/100
166/166 [==============================] - 0s 175us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 80/100
166/166 [==============================] - 0s 181us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 81/100
166/166 [==============================] - 0s 199us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 82/100
166/166 [==============================] - 0s 181us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 83/100
166/166 [==============================] - 0s 229us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 84/100
166/166 [==============================] - 0s 193us/step - loss: 0.0014 - accuracy: 1.0000
Epoch 85/100
166/166 [==============================] - 0s 193us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 86/100
166/166 [==============================] - 0s 151us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 87/100
166/166 [==============================] - 0s 181us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 88/100
166/166 [==============================] - 0s 187us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 89/100
166/166 [==============================] - 0s 199us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 90/100
166/166 [==============================] - 0s 205us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 91/100
166/166 [==============================] - 0s 253us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 92/100
166/166 [==============================] - 0s 181us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 93/100
166/166 [==============================] - 0s 169us/step - loss: 0.0010 - accuracy: 1.0000
Epoch 94/100
166/166 [==============================] - 0s 181us/step - loss: 0.0010 - accuracy: 1.0000
Epoch 95/100
166/166 [==============================] - 0s 175us/step - loss: 9.6827e-04 - accuracy: 1.0000
Epoch 96/100
166/166 [==============================] - 0s 217us/step - loss: 9.5771e-04 - accuracy: 1.0000
Epoch 97/100
166/166 [==============================] - 0s 187us/step - loss: 9.2746e-04 - accuracy: 1.0000
Epoch 98/100
166/166 [==============================] - 0s 187us/step - loss: 9.0816e-04 - accuracy: 1.0000
Epoch 99/100
166/166 [==============================] - 0s 205us/step - loss: 9.0433e-04 - accuracy: 1.0000
Epoch 100/100
166/166 [==============================] - 0s 211us/step - loss: 9.9522e-04 - accuracy: 1.0000

In [14]:
mymodel.evaluate( x_test , y_test )

42/42 [==============================] - 0s 3ms/step

[0.2776134383110773, 0.9523809552192688]

In [57]:
x_test.head(1)

,attribute_1,attribute_2,attribute_3,attribute_4,attribute_5,attribute_6,attribute_7,attribute_8,attribute_9,attribute_10,...,attribute_51,attribute_52,attribute_53,attribute_54,attribute_55,attribute_56,attribute_57,attribute_58,attribute_59,attribute_60
117,0.0228,0.0106,0.013,0.0842,0.1117,0.1506,0.1776,0.0997,0.1428,0.2227,...,0.0185,0.0098,0.0178,0.0077,0.0074,0.0095,0.0055,0.0045,0.0063,0.0039

In [59]:
test_data = x_test.loc[ [117] , : ]

test_data

,attribute_1,attribute_2,attribute_3,attribute_4,attribute_5,attribute_6,attribute_7,attribute_8,attribute_9,attribute_10,...,attribute_51,attribute_52,attribute_53,attribute_54,attribute_55,attribute_56,attribute_57,attribute_58,attribute_59,attribute_60
117,0.0228,0.0106,0.013,0.0842,0.1117,0.1506,0.1776,0.0997,0.1428,0.2227,...,0.0185,0.0098,0.0178,0.0077,0.0074,0.0095,0.0055,0.0045,0.0063,0.0039

In [60]:
test_data.shape

(1, 60)

In [62]:
mymodel.predict( test_data ).round()

array([[1.]], dtype=float32)

In [52]:
mnist = tf.keras.datasets.mnist

In [63]:
(x_train , y_train ) , (x_test ,y_test) = mnist.load_data()

In [64]:
x_train , x_test = x_train / 255 , x_test / 255

In [65]:
# mymodel1 = Sequential()